.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: row;
}

.image {
  width: 100%;
}

@media (max-width: 1024px) {
  .stack {
    flex-direction: column;
  }
  .image {
    width: 90vw;
  }
}
