.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 20px;
}

.stack {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .stack {
    flex-direction: column;
  }
  .image {
    width: 90vw;
  }
}
