.buttonText {
  text-transform: none;
}

.buttonTextClicked {
  text-transform: none;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: #042556;
}

@media (max-width: 950px) {
  .Button {
    display: none;
  }
}
