.Button {
  background-color: transparent;
}

.buttonText {
  text-transform: none;
  color: grey;
}

.buttonTextClicked {
  text-transform: none;
  color: #003d6f;
}

@media (max-width: 950px) {
  .Button {
    display: none;
  }
}
