.NavBar {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem 0;
}

.brand {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  gap: 1rem;
}

.icon {
  display: none;
}

.Links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo {
  display: none;
}
@media (max-width: 950px) {
  .icon {
    display: block;
  }
  .Links {
    display: none;
  }
}

@media (max-width: 500px) {
  .NavBar {
    margin: none;
  }
  .Logo {
    display: block;
  }
  .brand {
    display: none;
  }
}
